*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F9F5ED;
    font-family: 'Roboto', sans-serif;
}
nav{
    padding: 20PX 10%;
    height: 20vh;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 700;
}

/* main section css */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
/* left css */
.left-section{
width: 40%;
}
.left-section h1{
    font-size: 70px;
}
.left-section p{
    margin: 5% 0;
}
.left-section button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    color: white;
    border-radius: 10px;
    font-weight:500;
}

/* right css */
.right-section{
width: 60%;
margin-left: 4%;
}
.upperimg img{
margin-right: 20px;    
margin-bottom: 20px;
}
